.env
analysis/confidential_analysis/racewise_playerinfo_report.xlsx
analysis/confidential_analysis/racewise_players_report.xlsx
analysis/confidential_analysis/costcap_scatter.png
players.csv
playerinfo.csv
analysis/constructor_combos/*
analysis/plottly_exp_imgs/*
!analysis/constructor_combos/.gitkeep
!analysis/plottly_exp_imgs/.gitkeep
